// basic styles
$default-font-family: Roboto, sans-serif;
$default-line-height: 1.5;
$default-text-color: #cacaca;
$default-background-color: #08020d;

// desktop headings
$uppercase-heading: uppercase;

$h1-font-size: 60px;
$h1-line-height: 90px;
$h1-font-weight: bold;

$h2-font-size: 38px;
$h2-line-height: 57px;
$h2-font-weight: bold;
