@use '../../variables.scss' as *;

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url($default-font-regular-path);
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url($default-font-medium-path);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url($default-font-bold-path);
}

.page {
  font-family: Roboto, sans-serif;
}

.page__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: auto;
  max-width: 1440px;
  justify-content: center;
}

